body {
    width: 1239px;
    height: 126px;
}
.menu-principal {
    width: 100%;
    background-color: #801414;
    height: 60px;
}
main {
    width: 100%;
    float: left;
    position: relative;
}
.logo {
    padding: 16px;
    width: 5%;
}
.menu {
    width: 95%;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
}
.menu ul li a {
    color: #8b8b8b;
}
