body,html{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #8B0000;
}
      nav {
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 18px;
          height: 8vh;
      }
      ul{
          float: right;
          width :auto;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
      }

     li{
          padding : 20px 60px;
          margin:left: 80px;
          display: inline-block;
      }

      a{
          text-align: center;
          color: beige;
         text-decoration: none; 
      }

      a:hover{
          color: #F0c330
      }
      h1{
          font-size:40px;
         float: left;
         margin-left: 2%;
         margin-top: 10px;
          color:beige;
          position: absolute;
          padding-left:10px;
      } 
      span {
          color: #ffffff
      }
      h2{
          text-align:center;
          font-size:35px;
          color: black;
          border: 2px solid black
          padding-bottom: 10px;
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 10px;  
      }
      #images img{
      margin-left:auto;
      margin-right:auto;
      display:block;    
    }
      .text{ 
        margin: 20px auto;
        font-family: "Helvetica",sans-serif;
            font-size: 25px;	
             width: 800px;
              color: black;;
              padding-bottom: 10px;
              padding-left: 40px;
              padding-right: 40px;
              padding-top: 10px;
              text-align: center;             
      }
    </style>
        <header>      
           <h1>Fire<span>Free</span></h1>
            <nav>
                <ul>
                  <li><a href="file:///D:/m1%20tecnologias%20web.html">Inicio</a></li>  
                  <li><a href="file:///D:/m1%20tecnologias%20web.causas.html">Causas</a></li>
                  <li><a href="#">Mundo</a></li>
                  <li><a href="#">Soluções</a></li>
                </ul> 
            </nav>
.box{
    width: 568px;
    padding: 36px;
    background: #ffffff;
    color:#000000;
    text-align: center;
}
